---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../layouts/Hero.astro";
import Portfolio from "../layouts/Portfolio.astro";
import About from "../layouts/About.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Header />
    <Hero />
    <Portfolio />
    <About />
  </main>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const navLinks = document.querySelectorAll(".nav-link");

      function updateActiveLink() {
        let currentSection = "";
        const fromTop = window.scrollY + window.innerHeight / 2; // Midpoint of the viewport

        document.querySelectorAll("main > section").forEach((section) => {
          const sectionElement = section as HTMLElement; // Type assertion
          if (
            sectionElement.offsetTop <= fromTop &&
            sectionElement.offsetTop + sectionElement.offsetHeight > fromTop
          ) {
            // Handle potential null value
            currentSection = sectionElement.getAttribute("id") ?? "";
          }
        });

        navLinks.forEach((linkElement) => {
          const link = linkElement as HTMLAnchorElement; // Type assertion for anchor element
          const navCircle = link.querySelector(".nav-circle");
          if (navCircle) {
            if (link.hash === "#" + currentSection) {
              navCircle.classList.add("bg-fgPurple");
            } else {
              navCircle.classList.remove("bg-fgPurple");
            }
          }
        });
      }

      window.addEventListener("scroll", updateActiveLink);
      updateActiveLink(); // Call on load
    });
  </script>
</Layout>
