---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../layouts/Hero.astro';
import Portfolio from '../layouts/Portfolio.astro';
import About from '../layouts/About.astro';
import Contact from '../layouts/Contact.astro';
---

<Layout title="Welcome to Astro.">
    <main>
        <Header />
        <Hero />
        <Portfolio />
        <About />
        <Contact />
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const navLinks = document.querySelectorAll('.nav-link');
            const introSection = document.getElementById('Intro');
            const navButton = document.querySelector('.contact-button');

            function updateActiveLink() {
                let currentSection = 'Intro';
                const fromTop = window.scrollY + window.innerHeight / 2; // Midpoint of the viewport

                document.querySelectorAll('main > section').forEach((section) => {
                    const sectionElement = section as HTMLElement; // Type assertion
                    if (
                        sectionElement.offsetTop <= fromTop &&
                        sectionElement.offsetTop + sectionElement.offsetHeight > fromTop
                    ) {
                        // Handle potential null value
                        currentSection = sectionElement.getAttribute('id') ?? '';
                    }
                });

                function updateLinkStyles() {
                    const isPastIntro =
                        window.scrollY > introSection.offsetTop + introSection.offsetHeight;

                    navLinks.forEach((link) => {
                        const navCircle = link.querySelector('.nav-circle');
                        if (isPastIntro) {
                            // Change text color and nav-circle color after scrolling past 'Intro'
                            link.classList.remove('text-bgWhite'); // Assuming this is your class for white text
                            link.classList.add('text-zenPurple'); // Your class for dark purple text

                            // Update navCircle color if needed
                            navCircle.classList.add('border-zenPurple');
                            navCircle.classList.remove('border-bgWhite');
                        } else {
                            // Revert text color and nav-circle color before 'Intro'
                            link.classList.add('text-bgWhite');
                            link.classList.remove('text-zenPurple');

                            // Revert navCircle color if changed
                            navCircle.classList.remove('border-zenPurple');
                            navCircle.classList.add('border-bgWhite');
                        }
                    });
                }

                // trying to have nav links change color when not on intro section
                navLinks.forEach((linkElement) => {
                    const link = linkElement as HTMLAnchorElement; // Type assertion for anchor element
                    const navCircle = link.querySelector('.nav-circle');
                    if (navCircle) {
                        if (link.hash === '#' + currentSection && currentSection === 'Intro') {
                            navCircle.classList.add('bg-bgWhite');
                        } else if (
                            link.hash === '#' + currentSection &&
                            currentSection !== 'Intro'
                        ) {
                            navCircle.classList.remove('border-bgWhite');
                            navCircle.classList.add('bg-fgPurple');
                            navCircle.classList.add('border-fgPurple');
                            link.classList.remove('text-bgWhite');
                            link.classList.add('text-fgPurple');
                        } else if (
                            link.hash !== '#' + currentSection &&
                            currentSection !== 'Intro'
                        ) {
                            link.classList.add('text-fgPurple');
                            link.classList.remove('text-bgWhite');
                            link.classList.remove('border-bgWhite');
                            navCircle.classList.add('border-fgPurple');
                        } else {
                            navCircle.classList.remove('border-fgPurple');
                            navCircle.classList.remove('bg-bgWhite');
                            navCircle.classList.remove('bg-fgPurple');
                            link.classList.add('text-bgWhite');
                            link.classList.remove('text-fgPurple');
                        }
                    }
                });
                // Update nav button
                if (navButton) {
                    const buttonElement = navButton as HTMLElement; // Type assertion
                    if (buttonElement.getAttribute('href') === '#' + currentSection) {
                        buttonElement.classList.remove('bg-transparent');
                        buttonElement.classList.remove('text-zenOrange');
                        buttonElement.classList.add('bg-zenOrange');
                        buttonElement.classList.add('text-bgWhite');
                    } else {
                        buttonElement.classList.add('bg-transparent');
                        buttonElement.classList.add('text-zenOrange');
                        buttonElement.classList.remove('bg-zenOrange');
                        buttonElement.classList.remove('text-bgWhite');
                    }
                }
            }

            window.addEventListener('scroll', updateActiveLink);
            updateActiveLink(); // Call on load
        });
    </script>
</Layout>
