<section
    id="About"
    class="h-screen w-full p-28 flex justify-center items-center"
>
    <div class="flex justify-center items-center w-3/4">
        <div class="flex flex-col justify-center p-56">
            <h3 class="text-6xl text-zenRed font-serif mb-10">
                Armando R. Alvarez
            </h3>
            <p class="text-2xl indent-8 mb-10">
                Hi there! I'm Armando Alvarez, your go-to guy for graphic design
                and web development. My journey in the design world began at an
                exciting startup, where for 6 years, I got to play a key role in
                creating cool cycling and triathlon apparel. I started out
                getting my hands dirty with graphic and production design, and
                eventually stepped up as Art Director, leading some pretty
                fantastic teams along the way.
            </p>

            <p class="text-2xl indent-8 mb-10">
                After soaking up tons of experience, I decided to ride solo and
                dove into freelancing. This gave me the chance to balance my
                love for graphic design with my growing interest in web
                development. Fast forward a bit, and now I'm running my own
                show, helping small businesses make a big impact with custom web
                designs, branding, and more. And hey, this website you're
                checking out? Yep, it's one of my creations!
            </p>

            <p class="text-2xl indent-8 mb-10">
                Outside of work, I'm just a dad to two amazing boys, a snowboard
                enthusiast, and a bit of a movie buff. I like to think of myself
                as a team player who's easy to get along with, always up for a
                challenge, and keen on keeping things creative and fun. So
                whether I'm brainstorming the next project or drawing up
                designs, I believe in mixing professional expertise with a
                personal touch.
            </p>
        </div>
        <div class="w-56 h-96 p-56 bg-zenGrey"></div>
    </div>
</section>
