<section id="About" class="h-screen w-full p-28">
    <div class="flex flex-col justify-center p-56">
        <h3 class="text-6xl">A little about me:</h3>
        <p>
            With seven years experience as in a fast-paced start up, gaining
            skills in graphic design, team leadership, and art direction.
        </p>
    </div>
</section>
