---

---

<section
    id="Intro"
    class="h-screen w-full bg-[url('src/assets/images/BgGradient_01.jpg')] bg-no-repeat bg-cover bg-center flex items-center justify-center bg-fixed"
>
    <div class="container mx-auto pl-32 text-bgWhite">
        <h1 class="lg:text-6xl 2xl:text-7xl font-serif">
            <span class="text-zenRed">Armando A.</span><br />
            Graphic Designer<br />and Web Developer.<br /> Based in Sunny San Diego.
        </h1>
        <p class="lg:text-xl 2xl:text-2xl mt-7 leading-8">
            Welcome to my Portfolio, I’m glad you’re here!<br />
            I am a graphic designer that took some time to myself during the years
            of the pandemic to learn<br /> web development and dig deeper into my
            geeky obsession with computers and gadgets.
        </p>
    </div>
</section>
