---
import GalleryCard from "../components/GalleryCard.astro";
---

<section
  id="Portfolio"
  class="h-full w-full min-w-0 p-28 border-red-500 border-4 flex justify-center"
>
  <div class="container flex justify-center">
    <div class="grid grid-cols-3 gap-4 min-w-0">
      <GalleryCard
        imageUrl="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg"
        alt="gallery-image"
        title="Berumen Childcare"
        type="Website"
        description="Website created for a local childcare provider. I helped Berumen Childcare create a professional yet playful web presence that helped showcase her playful discovery teaching method."
      />
      <GalleryCard
        imageUrl="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg"
        alt="gallery-image"
        title="Berumen Childcare"
        type="Website"
        description="Website created for a local childcare provider. I helped Berumen Childcare create a professional yet playful web presence that helped showcase her playful discovery teaching method."
      />
      <GalleryCard
        imageUrl="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg"
        alt="gallery-image"
        title="Berumen Childcare"
        type="Website"
        description="Website created for a local childcare provider. I helped Berumen Childcare create a professional yet playful web presence that helped showcase her playful discovery teaching method."
      />
      <GalleryCard
        imageUrl="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg"
        alt="gallery-image"
        title="Berumen Childcare"
        type="Website"
        description="Website created for a local childcare provider. I helped Berumen Childcare create a professional yet playful web presence that helped showcase her playful discovery teaching method."
      />
      <GalleryCard
        imageUrl="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg"
        alt="gallery-image"
        title="Berumen Childcare"
        type="Website"
        description="Website created for a local childcare provider. I helped Berumen Childcare create a professional yet playful web presence that helped showcase her playful discovery teaching method."
      />
      <GalleryCard
        imageUrl="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg"
        alt="gallery-image"
        title="Berumen Childcare"
        type="Website"
        description="Website created for a local childcare provider. I helped Berumen Childcare create a professional yet playful web presence that helped showcase her playful discovery teaching method."
      />
      <GalleryCard
        imageUrl="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-6.jpg"
        alt="gallery-image"
        title="Berumen Childcare"
        type="Website"
        description="Website created for a local childcare provider. I helped Berumen Childcare create a professional yet playful web presence that helped showcase her playful discovery teaching method."
      />
      <GalleryCard
        imageUrl="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-7.jpg"
        alt="gallery-image"
        title="Berumen Childcare"
        type="Website"
        description="Website created for a local childcare provider. I helped Berumen Childcare create a professional yet playful web presence that helped showcase her playful discovery teaching method."
      />

      <GalleryCard
        imageUrl="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-8.jpg"
        alt="gallery-image"
        title="Berumen Childcare"
        type="Website"
        description="Website created for a local childcare provider. I helped Berumen Childcare create a professional yet playful web presence that helped showcase her playful discovery teaching method."
      />
    </div>
  </div>
</section>; ---
